@font-face {
    font-family: 'OPTIEngeEtienne';
    src: url('OPTIEngeEtienne.eot');
    src: url('OPTIEngeEtienne.eot?#iefix') format('embedded-opentype'),
        url('OPTIEngeEtienne.woff2') format('woff2'),
        url('OPTIEngeEtienne.woff') format('woff'),
        url('OPTIEngeEtienne.ttf') format('truetype'),
        url('OPTIEngeEtienne.svg#OPTIEngeEtienne') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

