/* ttf -> eot/woff/woff2/svg and this file both generated using https://transfonter.org/ */

@font-face {
    font-family: 'Final Fantasy';
    src: url('finalf.eot');
    src: url('finalf.eot?#iefix') format('embedded-opentype'),
        url('finalf.woff2') format('woff2'),
        url('finalf.woff') format('woff'),
        url('finalf.svg#New') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

