ul > li {
  border-width: 0;
}
@keyframes huerotate {
  0% {
    filter: hue-rotate(0deg)
  }
  35% {
    filter: hue-rotate(20deg);
  }
  65% {
    filter: hue-rotate(-50deg);
  }
  100% {
    filter: hue-rotate(20deg);
  }
}
@keyframes huerotatefull {
  0% {
    filter: hue-rotate(0deg) brightness(1)
  }
  50% {
    filter: hue-rotate(180deg) brightness(1.5)
  }

  100% {
    filter: hue-rotate(360deg) brightness(1);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .text-shadow {
    text-shadow: 0 1px 2px rgba(22,22,22,.5);
  }

  .font-custom {
    font-family: Inter, monospace;
    font-weight: 600;
    -webkit-font-smoothing: subpixel-antialiasing;

  }
  .font-player-names {
    font-family: Inter, monospace;
    font-weight: 600;
    -webkit-font-smoothing: subpixel-antialiasing;
    text-shadow: 0 1px 1px rgba(0 0 0 / 90%);
    color: white;

  }
  .font-stat-numbers {
    font-family: Inter, monospace;
    font-weight: 700;
    -webkit-font-smoothing: subpixel-antialiasing;
    text-shadow: 0 1px 1px rgba(0 0 0 / 90%);
    color: white;
  }
  .font-stat-numbers-clean {
    font-family: Inter, monospace;
    -webkit-font-smoothing: subpixel-antialiasing;

  }
  .clock {
    -webkit-font-smoothing: subpixel-antialiasing;
    /* text-shadow:0 0 0 #777, 0 -2px 1px rgba(0 0 0 / 60%); */
    /* color: transparent; */
    mix-blend-mode: multiply;
    font-family: monospace;
    letter-spacing: -2px;
  }

  .text-shadow-thicc {
    text-shadow: 0 0 2px black;
  }
  .animate-hue {
    /* animation: huerotate 20s linear infinite alternate; */
  }
  .blue-text-gradient {
    @apply bg-gradient-to-b from-blue-main to-blue-dark2 bg-clip-text;
  }
  .gold-text-gradient {
    @apply bg-gradient-to-b from-gold-main to-gold-dark3 bg-clip-text;
  }
}


p a {
  @apply text-secondary-main hover:text-secondary-dark;
}

.MuiBreadcrumbs-root {
  @apply mb-8 px-10 -mt-4 md:-mt-10 -mx-4 md:-mx-10 py-2 bg-gray-400 text-gray-600 rounded-t capitalize;
}
.MuiBreadcrumbs-separator {
  @apply  text-gray-600;
}
.MuiBreadcrumbs-li a.MuiTypography-root {
  @apply  text-gray-100;
}


.MuiDialogActions-root {
  @apply py-4 px-6 gap-2 border-0 border-t border-t-gray-200 border-solid ;
}

.MuiButton-containedPrimary {
  @apply bg-gold-main hover:bg-gold-dark2 text-black;
}
.MuiButton-outlinedSecondary {
  @apply bg-white hover:bg-secondary-dark hover:text-white;
  transition: color 0s 100ms, background 200ms ease-out;
}

.scene-admins-list {
  @apply space-y-2;
}
.scene-admins-list li {
  @apply bg-gray-100 rounded;
}
.divider {
  @apply border-0 border-b border-b-gray-300 border-solid mix-blend-multiply;
}

@keyframes fadein {
  from { opacity: 0;}
  to { opacity: 1;}
}
.animate-fadein {
  animation: fadein 250ms ease-in-out forwards;
}

.checkbox-label > .MuiFormControlLabel-label {
  @apply flex justify-between items-center w-full;
}